node_modules/
dist/
build/
.env
.env.local
*.log
apps/server/prisma/*.db
apps/server/prisma/*.db-journal
apps/server/var/
apps/web/dist/
.DS_Store
.expo/
coverage/
*.tsbuildinfo
apps/server/prisma/prod.db
apps/server/prisma/prisma/
apps/mobile/.expo/
apps/mobile/web-build/

